<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <b><%= form.label :first_name %></b>
    <%= form.text_field :first_name, class:"form-control", placeholder:"Cookie" %>
  </div>
  
  <div class="field form-group">
    <b><%= form.label :last_name %></b>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Cream" %>
  </div>

  <div class="field form-group"></b>
    <b><%= form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder:"example@domain.com" %>
  </div>

  <div class="field form-group"></b>
    <b><%= form.label :phone %>
    <%= form.text_field :phone, class:"form-control", placeholder:"(000) 111-2222" %>
  </div>

  <div class="field form-group"></b>
    <b><%= form.label :twitter %>
    <%= form.text_field :twitter, class:"form-control", placeholder:"Twitter ID" %>
  </div>
  <div class="field form-group"></b>
    <b><% form.label :user_id %>
    <%= form.number_field :user_id, class:"form-control", value: current_user.id, type: :hidden %>
    <%# current_user.inspect %>
  </div>
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
